<main class="flex flex-col items-center mt-7">
  <div class="w-[90%] sm:w-[80%] items-center flex flex-col">
    <h1 class="doc-header" id="get-started">{{ title }}</h1>
    <div
      class="section section-grid shadow-2xl p-5 overflow-clip border-4 rounded-3xl h-[1000px] sm:h-[500px] max-h-[1000px] sm:max-h-[500px]"
    >
      <div class="border-b-2 sm:border-r-2 sm:border-b-0 h-full">
        <form class="p-3 h-full flex flex-col relative">
          <textarea
            class="textarea border-2 resize-none shrink-0 grow w-full"
            placeholder="paste your code here..."
            [formControl]="inputControl"
          ></textarea>
          <div
            *ngIf="
              inputControl?.invalid &&
              (inputControl?.dirty || inputControl?.touched) &&
              getEmailVerified
            "
            class="text-red-500 font-bold"
          >
            <small *ngIf="inputControl?.hasError('required')">
              This field is required.
            </small>

            <small *ngIf="inputControl?.hasError('InvalidInputEntries')">
              This field required a text value.
            </small>

            <small *ngIf="inputControl?.hasError('InvalidinputLength')">
              {{ invalidLengthErrrorMessage }}
            </small>
          </div>
          <loading-animation
            class="absolute bottom-[50%] right-[50%]"
            [showAnimation]="showLoadingAnimation"
          ></loading-animation>

          <button
            *ngIf="!getEmailVerified"
            class="text-red-500 font-bold text-left text-sm"
            (click)="$event.preventDefault(); sendVerificationEmail()"
          >
            {{ verificationMessage }}
          </button>
          <div class="flex flex-row items-center justify-between pt-3">
            <div class="text-sm">
              <span class="{{ currentCountStyle }}">{{ currentCount }}</span
              ><span class="font-black">/{{ maxCount }}</span>
            </div>
            <button
              [disabled]="inputControl.invalid || !getEmailVerified"
              class="btn"
              type="submit"
              (click)="$event.preventDefault(); submitForm()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
      <div
        class="h-full relative hover:[&>button]:bg-[rgba(0,0,0,.2)] rounded-xl transition-all"
      >
        <pre
          class="overflow-scroll py-4 px-3 self-start text-sm h-full w-full text-start flex flex-col"
        >
          <code *ngIf="outputValue.length > 0" class="flex flex-col gap-1">
            <span *ngFor="let item of outputValue">{{ item }}</span>
          </code>
        </pre>
        <button
          class="btn absolute top-0 right-0 bg-transparent border-0 shadow-none [&>*]:w-56"
          (click)="$event.preventDefault(); copy()"
        >
          <mat-icon fontIcon="copy_all"></mat-icon>
        </button>
      </div>
    </div>
  </div>
</main>
