<app-header
  [toggleSigninClicked]="showSignInPopup"
  (signInClosed)="showSignInPopup = $event"
></app-header>

<input-output
  (inputValue)="ParseMQL4($event)"
  [outputValue]="outputValue"
  [title]="title"
  [showLoadingAnimation]="showLoadingAnimation"
></input-output>

<main class="flex flex-col items-center mb-7">
  <div class="w-[90%] sm:w-[80%] items-center flex flex-col">
    <p className="font-light">
      {{ description }}
      Enjoy faster performance, enhanced security, and access to a wider range
      of trading tools and indicators. Get started today and take your trading
      to the next level!. Follow this
      <a
        href="https://www.mql5.com/en/articles/81"
        target="_blank"
        class="font-bold text-accent"
      >
        link
      </a>
      to check the reference.
    </p>
  </div>
</main>
