<app-header></app-header>

<div
  class="flex flex-col items-center justify-center h-[90vh] self-center p-10 overflow-hidden"
>
  <div class="flex flex-col items-center">
    <h1 class="text-6xl text-center overflow-hidden px-7 font-black">
      Convert from <b class="text-primary"> mql4 to mql5</b>
    </h1>
    <p
      class="text-[10px] sm:text-sm my-9 hover:scale-105 transition-all ease-in-out duration-200"
    >
      Try the &nbsp;&nbsp;
      <b class="relative text-primary">
        <span
          class="absolute transition-all ease-in-out w-20 h-10 -right-1 -top-3.5 sm:w-28 sm:h-12 sm:-top-3.5 sm:-right-1.5 border-primary rounded-md border-2"
        ></span>
        mql4 to mql5
      </b>
      &nbsp;&nbsp; converter today. It's free
    </p>

    <a
      href="/mql4-mql5"
      class="[&>p]:hover:scale-110 [&>p]:transition-all [&>p]:duration-300 transition-all hover:scale-105 flex flex-col tracking-wider text-2xl font-black items-center justify-center w-72 h-64 border-2 border-gray-300 rounded-xl mt-5"
    >
      <p>MQL4 TO MQL5</p>
      <p class="tracking-[10px] ease-in-out text-[8px]">CONVERTER</p>
    </a>
  </div>
</div>
